#svs-app-main {
    margin: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
}

#svs-app-main .svs-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#svs-app-main .svs-loading-row {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#svs-app-main .svs-loading-cell {
    width: 48px;
    height: 50px;
    background: url("https://encompasstechnologies.github.io/svs-app/img/svs-loading.gif");
}

#svs-app-main .svs-button {
    margin-right: 7px;
    border-radius: 3px;
    border: 1px #406480 solid;
    background: #406480;
    color: #fff;
    padding: 5px 14px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#svs-app-main .svs-button:hover {
    background: #345066;
}

#svs-app-main .svs-header {
    height: 48px;
    display: flex;
    flex-direction: column;
    padding: 9px 0 9px 7px;
    user-select: none;
}

#svs-app-main .svs-header .svs-title {
    align-self: flex-start;
    display: flex;
    font-size: 18px;
    color: #5d5d5d;
    padding: 0 7px;
}

#svs-app-main .svs-tabs {
    height: 30px;
    padding: 0 7px 0 7px;
    background: #ededed;
    background: linear-gradient(to bottom, #ededed 1%, #ededed 90%, #777 100%);
    display: flex;
    font-size: 13px;
    user-select: none;
}

#svs-app-main .svs-tabs .svs-tab {
    color: #777;
    height: 30px;
    line-height: 28px;
    padding: 0 17px 0 17px;
    cursor: pointer;
}

#svs-app-main .svs-tabs .svs-tab:hover {
    color: #000;
}

#svs-app-main .svs-tabs .svs-active {
    color: #000;
    background: #fff;
    line-height: 26px;
    margin-bottom: -2px;
    border-right: 1px #bbb solid;
    border-left: 1px #bbb solid;
    border-top: 3px #406480 solid;
    cursor: default;
}

#svs-app-main .svs-content {
    flex: 1;
    background: #fff;
    display: none;
    overflow: hidden;
}

#svs-app-main .svs-content .svs-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#svs-app-main .svs-content .svs-column {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
}

#svs-app-main .svs-content .svs-resizable-west {
    border-right: 3px #f3f3f3 solid;
    box-sizing: border-box;
}

#svs-app-main .svs-content .svs-resizable-east {
    border-left: 3px #f3f3f3 solid;
    box-sizing: border-box;
}

/* Font Style */
#svn-app-main {
    font-family: "Lato";
    font-weight: 300 !important;
}

.svs-display-1,
.svs-display-2,
.svs-display-3,
.svs-display-4 {
    line-height: 1.2 !important;
}

.svs-display-1 {
    font-size: 6rem;
}

.svs-display-2 {
    font-size: 5.5rem;
}

.svs-display-3 {
    font-size: 4.5rem;
}

.svs-display-4 {
    font-size: 3.5rem;
}

.svs-lead {
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

/* Text Alignment */
.svs-text-left {
    text-align: left !important;
}

.svs-text-right {
    text-align: right !important;
}

.svs-text-center {
    text-align: center !important;
}

/* Background Colors and Font Colors */
.svs-bg-white {
    background-color: #fff !important;
}

.svs-bg-primary {
    background-color: #406480 !important;
}

.svs-bg-secondary {
    background-color: #6c757d !important;
}

.svs-bg-info {
    background-color: #dddddd !important;
}

.svs-bg-success {
    background-color: #28a745 !important;
}

.svs-bg-danger {
    background-color: #dc3545 !important;
}

.svs-bg-light {
    background-color: #f8f9fa !important;
}

.svs-bg-dark {
    background-color: #343a40 !important;
}

.svs-bg-white {
    background-color: #fff !important;
}

.svs-text-primary {
    color: #555555 !important;
}

.svs-text-secondary {
    color: #6c757d !important;
}

.svs-text-info {
    color: #406480 !important;
}

.svs-text-success {
    color: #28a745 !important;
}

.svs-text-danger {
    color: #dc3545 !important;
}

.svs-text-light {
    color: #f8f9fa !important;
}

.svs-text-dark {
    color: #343a40 !important;
}

/* CARDS */
.svs-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    -webkit-box-shadow: 2px 7px 32px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 2px 7px 32px -3px rgba(0, 0, 0, 0.66);
    box-shadow: 2px 7px 32px -3px rgba(0, 0, 0, 0.66);
}

.svs-card > hr {
    margin-right: 0;
    margin-left: 0;
}

.svs-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.svs-card-title {
    margin-bottom: 0.75rem;
}

.svs-card-text:last-child {
    margin-bottom: 0;
}

.svs-card-link:hover {
    text-decoration: none;
}

.svs-card-link + .svs-card-link {
    margin-left: 1.25rem;
}

.svs-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.svs-card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.svs-card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

.svs-card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.svs-card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

/** LIST GROUPS **/
.svs-list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.svs-list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.svs-list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.svs-list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.svs-list-group-item:hover,
.svs-list-group-item:focus {
    z-index: 1;
    text-decoration: none !important;
}

.svs-list-group-item:disabled {
    color: #6c757d;
    background-color: #fff;
}

.svs-list-group-flush .svs-list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.svs-list-group-flush:first-child .svs-list-group-item:first-child {
    border-top: 0;
}

.svs-list-group-flush:last-child .svs-list-group-item:last-child {
    border-bottom: 0;
}

/* Card Groups */
.svs-card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.svs-card-deck .svs-card {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .svs-card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .svs-card-deck .svs-card {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

/** INSTRUCTIONS/WORKFLOW TEMPLATE
    Credits to https://bootsnipp.com/bbilginn **/
.timeline-centered {
	position: relative;
	margin-bottom: 30px;
}

.timeline-centered:before {
	content: "";
	position: absolute;
	display: block;
	width: 4px;
	background: #f5f5f6;
	top: 20px;
	bottom: 20px;
	margin-left: 30px;
}

.timeline-centered .timeline-entry {
	position: relative;
	margin-top: 5px;
	margin-left: 30px;
	margin-bottom: 10px;
	clear: both;
}

.timeline-centered .timeline-entry.begin { margin-bottom: 0; }

.timeline-centered .timeline-entry .timeline-entry-inner {
	position: relative;
	margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
	content: " ";
	display: table;
}

.timeline-centered:after,
.timeline-centered .timeline-entry .timeline-entry-inner:after,
.timeline-centered .timeline-entry:after { clear: both; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
	display: block;
	width: 40px;
	height: 40px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	-moz-box-shadow: 0 0 0 5px #f5f5f6;
	-webkit-box-shadow: 0 0 0 5px #f5f5f6;
	box-shadow: 0 0 0 5px #f5f5f6;
	line-height: 40px;
	font-size: 15px;
	float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
	position: relative;
	background: #dddddd;
	padding: 1em;
	margin-left: 60px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #dddddd transparent transparent;
	left: 0;
	top: 10px;
	margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
	margin: 0.5rem;
	line-height: 1.428571429;
}